<!DOCTYPE html>
<html>
{% include "head.html.j2" %}
{% include "style.html.j2" %}
<body>
{% include "header.html.j2" %}
  <main>
    <section>
      <p class="center">Systems
        Development
        Data</p>
      <p class="center">Platforms</p>
    </section>
    <nav>
      <ul>
        {% for article in recent_articles %}
        <li><a href="{{ article.article_slug }}.html">{{ article.article_title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </main>
{% include "footer.html.j2" %}
</body>
</html>
