<!DOCTYPE html>
<html>
{% include "head.html.j2" %}
{% include "style.html.j2" %}
<body>
{% include "header.html.j2" %}
  <main>
    <p class="center">Systems
      Development
      Data</p>
    <p class="center">Platforms</p>
  </main>
{% include "footer.html.j2" %}
</body>
</html>
